/* Grid Container für Intro Section */
.intro-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    /* Beide Spalten gleich groß width: 90vw;*/

    /* Breite auf 80% des Viewports reduzieren */

    /* Höhe entsprechend der reduzierten Breite */
    /* Maximale Höhe auf 80% der Bildschirmhöhe beschränken */
    gap: 0;
    overflow: hidden;
    /* Verhindert Überlauf */
    margin: auto;
    /* Zentriert die Sektion horizontal */
}

/* Linkes Grid-Item (Text) */
.intro-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;


    overflow: hidden;
    /* Verhindert Überlauf */
}

.intro-left h1,
.intro-left p {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}


.intro-left h2 {
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 1rem;
    font-size: medium;
    /* Entferne justify-content: center; */
    text-align: center;
    /* Zentriert den h2-Text horizontal */
}

.intro-left p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro-left em {
    font-size: 1rem;
    color: rgb(33, 33, 33)
}

.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Zentriert das Grid-Item sowohl horizontal als auch vertikal */
}

.YingYang {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Zentriert das Bild im Container */
}

.YingYang img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.Rene_HomePicture {
    display: flex;
    justify-content: center;
    /* Zentriert das Bild horizontal */
    align-items: center;
    /* Zentriert das Bild vertikal */
    background-color: rgba(245, 245, 245, 255)
}

.Rene {
    justify-content: center;
    /* nimmt die gesamte Bildschirmbreite ein */
    max-width: 100%;
    /* verhindert, dass das Bild breiter als der Viewport wird */
    max-height: auto;
    /* behält das Seitenverhältnis bei */
    background-position: center 10%;
    /* positioniert das Bild relativ zum Container */
    background-size: cover;
    /* sorgt dafür, dass das Bild den Container komplett ausfüllt */
    overflow: hidden;
    /* versteckt den überstehenden Teil des Bildes */
    position: relative;
    /* ermöglicht die korrekte Positionierung */
    z-index: 0;
    /* sorgt dafür, dass es andere Inhalte nicht überdeckt */
    display: flex;
}

.Rene_Home {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    /* versteckt den Teil des Bildes, der über die Containergröße hinausgeht */
    position: relative;
    /* nötig für das korrekte Positionieren des Bildes */
}

.Rene_Home {
    display: none;
}

/* Testimonial Slider Styles */
.testimonial-slider {
    position: relative;
    max-width: 100%;
    height: 700px;
    overflow: hidden;
    background-color: #333;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    transition: opacity 1s ease-in-out;
}





.active {
    display: block;
    opacity: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    opacity: 80%;
}

.content h2 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0d0d0d;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.testimonial-slider .slide {
    width: 100%;


}

.testimonial-slider .slide:nth-child(1) {
    background-image: url('../DSC03652_slider.JPG');
}

.testimonial-slider .slide:nth-child(2) {
    background-image: url('../DSC03832_horizontal.JPG');
}

.testimonial-slider .slide:nth-child(3) {
    background-image: url('../DSC03737_slider.JPG');
}


#slider_energy {
    background-position: center 80%;
}

#slider_immun {
    background-position: center;
}

#slider_wirbel {
    background-position: center 10%;
}


/* Responsive Design */
@media (max-width: 1024px) {
    main {
        padding-top: 80px;
    }

    .intro-section {
        grid-template-columns: 1fr 1fr;
    }

    .intro-left {
        min-height: 230px;

    }

    #slider_energy {
        background-position: center;
    }

    #slider_immun {
        background-position: center;
    }

    #slider_wirbel {
        background-position: center;
    }


}

@media (max-width: 768px) {
    .intro-section {
        grid-template-columns: 1fr;
    }

    .intro-left {
        padding: 1.5rem;
        padding-bottom: 0;
    }

    .testimonial-slider {
        height: 400px;
    }

    .content h2 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .button {
        padding: 8px 16px;
    }

    .Rene_Home {
        display: flex;
    }

    .Rene {
        display: none;
    }

    #slider_energy {
        background-position: center 70%;
    }

    #slider_immun {
        background-position: center 80%;
    }

    #slider_wirbel {
        background-position: center 30%;
    }
}

@media (max-width: 480px) {
    .testimonial-slider {
        height: 300px;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .button {
        padding: 6px 12px;
    }
}