/* Main Content */
main {
    padding: 2rem;
    padding-top: 180px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    word-spacing: 0.1em;
    text-align: left;
}

.about-me,
.journey {
    margin-bottom: 3rem;
}

.about-content,
.journey-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.5;
    border: 3px solid #ddd;
    border-radius: 8px;
}

.profile-img,
.journey-img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 700px;
}

.profile-img_mobile,
.journey-img_mobile {
    display: none;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-content {
    flex: 1;
    min-width: 280px;
    color: #333;
}

.read-more {
    display: inline-block;
    margin-top: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    color: #090909;
    text-decoration: underline;
}


/* Responsive Styles */
@media (max-width: 1024px) {
    main {
        padding: 1.5rem;
        padding-top: 100px;
    }

    .profile-img {
        margin: 0 auto;
        max-height: 400px;
        max-width: 300px;
    }

    .journey-img {
        display: none;
    }

    .journey-img_mobile {
        display: flex;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
        padding-top: 100px;
    }

    .toggle-button {
        display: flex;
    }



    .profile-img,
    .journey-img {
        display: none;
    }

    .profile-img_mobile,
    .journey-img_mobile {
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
    }

    .profile-img_mobile,
    .profile-img {
        max-height: 400px;
        max-width: 300px;
    }
}

/* Querformat auf Handys */
@media (orientation: landscape) and (max-height: 600px) {

    .profile-img,
    .journey-img_mobile {

        display: flex;
    }

    .about-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background-color: #fff;
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: justify;
        line-height: 1.5;
        border: 3px solid #ddd;
        border-radius: 8px;
    }

    .profile-img_mobile,
    .journey-img {
        display: none;
    }

    .profile-img {
        max-height: 600px;
        max-width: 300px;
        margin-bottom: 10rem;
    }
}