/* Main Content */
main {
    padding: 2rem;
    padding-top: 180px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    word-spacing: 0.2em;
}

.about-me,
.journey {
    margin-bottom: 3rem;
}

.about-content,
.journey-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.5;
    border: 3px solid #ddd;
    border-radius: 8px;
}

.profile-img,
.journey-img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 700px;
}

.text-content {
    flex: 1;
    min-width: 280px;
    color: #333;
}

.read-more {
    display: inline-block;
    margin-top: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    color: #090909;
    text-decoration: underline;
}


/* Responsive Styles */
@media (max-width: 1024px) {
    main {
        padding: 1.5rem;
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
        padding-top: 100px;
    }

    .toggle-button {
        display: flex;
    }

    .about-content,
    .journey-content {
        flex-direction: column;
    }

    .profile-img,
    .journey-img {
        max-width: 100%;
    }

}